.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: center;
    height: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border-radius: 999px;
    background-color: lightgray;
}

.header__center>input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}